.header{
    width: 320px;
    border: 1px solid lightgray;
    position: relative;
    left: 40px;
}

.container {
    margin-left: 40px;
    /* margin-top: 20px; */
    padding: 20px;
    font-family: sans-serif;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 320px;
    background-color: skyblue;
}

.label {
    font-weight: bold;
    font-size: 1.2rem;
    /* border: 1px solid black; */
    margin-top: 10px;
}

.value {
    color: whitesmoke;
    position: absolute;
    left: 200px
}

.message .value {
    font-style: italic;
}